@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Press+Start+2P&display=swap");

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45 mb-[2px];
}

.navbar-fixed {
  @apply fixed z-[9999] bg-slate-400 bg-opacity-30 transition-all duration-200;
  backdrop-filter: blur(7px);
}

.back-blur {
  backdrop-filter: blur(7px);
}
